.foto-produk {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.foto-produk img {
    width: 100px;
    height: auto;
}

/* search in transport */
.hidden {
    display: none;
}

/* notifications */
.read {
    background-color: #f8f9fa;
}

.unread {
    background-color: #c8c8c8;
}
